<div class="post">
  <div class="post__header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Back</button>
  </div>

  <div class="post__info">
    <strong>Author</strong>
    <small>12.09.2020</small>
  </div>

  <div class="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci beatae blanditiis cumque deleniti dolorum ex laboriosam maxime mollitia nemo nobis odio possimus, praesentium repellendus similique ullam vitae voluptates. Assumenda autem beatae ea fugiat illum totam velit vero. Animi, dolor, magni. In magni nemo nulla repudiandae soluta suscipit veniam voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci beatae blanditiis cumque deleniti dolorum ex laboriosam maxime mollitia nemo nobis odio possimus, praesentium repellendus similique ullam vitae voluptates. Assumenda autem beatae ea fugiat illum totam velit vero. Animi, dolor, magni. In magni nemo nulla repudiandae soluta suscipit veniam voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci beatae blanditiis cumque deleniti dolorum ex laboriosam maxime mollitia nemo nobis odio possimus, praesentium repellendus similique ullam vitae voluptates. Assumenda autem beatae ea fugiat illum totam velit vero. Animi, dolor, magni. In magni nemo nulla repudiandae soluta suscipit veniam voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci beatae blanditiis cumque deleniti dolorum ex laboriosam maxime mollitia nemo nobis odio possimus, praesentium repellendus similique ullam vitae voluptates. Assumenda autem beatae ea fugiat illum totam velit vero. Animi, dolor, magni. In magni nemo nulla repudiandae soluta suscipit veniam voluptate.</p>
  </div>
</div>
