<div *ngIf="post$ | async as post; else loading">
  <div class="post">
    <div class="post__header">
      <h1>{{ post.title }}</h1>

      <button routerLink="/" class="btn btn-link">Back</button>
    </div>

    <div class="post__info">
      <strong>{{ post.author }}</strong>
      <small>{{ post.date | date:'medium' }}</small>
    </div>

    <div>
      <quill-view-html [content]="post.text"></quill-view-html>
    </div>

    <button class="btn btn-dark show-card" title="To support author" (click)="showCard()">Show card</button>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Loading post...</p>
</ng-template>

<ng-template app-ref></ng-template>
