.post {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin-bottom: .5rem;
  }

  &__info {
    strong {
      margin-right: 1rem;
    }
  }
}
