<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div
      #titleContainer
      class="form-control"
      [ngClass]="{ invalid: titleControl.invalid && titleControl.touched }"
    >
      <div class="input-container">
        <label
          #titleLabel
          for="title"
        >Title</label>
        <input
          [app-focus]="{container: titleContainer, label: titleLabel, border: titleBorder}"
          type="text"
          id="title"
          formControlName="title"
        >
        <div
          #titleBorder
          class="border-bottom"
        ></div>
      </div>
      <div *ngIf="titleControl.invalid && titleControl.touched" class="validation">
        <small *ngIf="titleControl.errors.required">This field is required</small>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{ invalid: textControl.invalid && textControl.touched }"  >
      <p>Post content</p>
      <quill-editor formControlName="text"></quill-editor>
      <div *ngIf="textControl.invalid && textControl.touched" class="validation">
        <small *ngIf="textControl.errors.required">This field is required</small>
      </div>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid || isSubmitted"
    >Save changes</button>

  </form>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
