.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.debit {
  position: relative;
  width: 370px;
  height: 220px;
  transform-style: preserve-3d;
  perspective: 500px;

  .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #23426d;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
    border-radius: 15px;
    transform-style: preserve-3d;
    transition: 1s;
    cursor: pointer;
  }

  .front {

    &__header {
      display: flex;
      justify-content: space-between;
      color: #fff;
      margin: 1.2rem 1.5rem;

      .header-left {
        img {
          width: 15px;
        }
        span {
          font-family: 'Dosis', sans-serif;
          margin-left: .45rem;
        }
      }

      .header-right {
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 700;
      }
    }

    &__logo {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 0.1rem;
      .paypass-logo {
        width: 20px;
        margin: .44rem 0 0 .9rem;
      }
      .chip-logo-wrapper {
        margin-left: 0.4rem;
        width: 38px;
        height: 37px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .chip-logo {
          width: 64px;
        }
      }
    }
    &__number {
      font-family: 'Rationale', sans-serif;
    }
    &__footer {
    }
    &__bgi {
      position: absolute;
      width: 40px;
      height: 40px;
      bottom: 6px;
      right: 12px;
      border-radius: 50%;
      z-index: 0;
      background-color: #e29303;
      &::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: translateX(-30px);
        background-color: #ab0707;
        mix-blend-mode: soft-light;
      }
    }
  }

  .back {
    position: relative;

    &__header {
      display: flex;
      justify-content: space-between;
      font-size: 9px;
      margin: .3rem 1.2rem;
      .header-phones {
        font-weight: bold;
      }
    }
    &__magnetic-stripe {
      height: 34px;
      background-color: #000000;
    }
    &__number {
      font-family: 'Rationale', sans-serif;
      position: relative;
      color: #101215;
      margin-top: 3.6em;
      transform: scale(-1, 1);
      z-index: 5;
      text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
    }
    &__footer {
      transform: scale(-1, 1);
    }



    &__debit-logo {
      position: absolute;
      top: 39%;
      left: 1.5rem;
      width: 65px;
      height: 40px;
      border-radius: 20px;
      overflow: hidden;
      //background-color: rgb(147, 142, 142);
      background: rgb(230,230,230);
      background: radial-gradient(circle, #f1f1f1 1%, #fbfbfb 96%);
      .big-circle {
        position: absolute;
        top: 50%;
        left: 0;
        //background-color: rgb(167, 160, 160);
        background: rgb(217,217,217);
        background: radial-gradient(circle, #bdbdbd 1%, #f5f5f5 96%);
        width: 65px;
        height: 65px;
        border-radius: 50%;
        transform: translate(-38%, -50%);
        z-index: 3;
      }
      .small-circle {
        position: absolute;
        top: 50%;
        left: 64%;
        background: #e6e6e6;
        //background: radial-gradient(circle, #bdbdbd 1%, #f5f5f5 96%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
      .text {
        position: absolute;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
      }
    }
  }

  .back__footer,
  .front__footer {
    span {
      font-family: "Rationale", sans-serif;
      margin-left: 1.5rem;
      letter-spacing: .12rem;
    }
  }
  .card-number {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    letter-spacing: .23rem;
    margin: 0 2.4rem;
  }
  .card-date {
    text-align: center;
    font-size: 17px;
    letter-spacing: .2rem;
  }
}
