$silver-color: rgb(205, 208, 215);
$text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
$bg-backdrop: rgba(0, 0, 0, 0.5);
$bg-color: #23426d;
$white-color: #fff;
$box-shadow: 0 10px 20px rgba(0, 0, 0, .5);

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: $bg-backdrop;
  display: flex;
  justify-content: center;
  align-items: center;

  .debit {
    position: relative;
    width: 370px;
    height: 220px;
    transform-style: preserve-3d;
    perspective: 500px;

    &:hover {
      .face.front {
        transform: rotateY(180deg);
      }
      .face.back {
        transform: rotateY(360deg);
      }
    }

    .face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $white-color;
      background-color: $bg-color;
      box-shadow: $box-shadow;
      border-radius: 15px;
      transform-style: preserve-3d;
      transition: 0.7s cubic-bezier(0.07, 0.35, 0.44, 1.32);
      cursor: pointer;
    }

    .front {

      &__header {
        display: flex;
        justify-content: space-between;
        color: $white-color;
        margin: 1.2rem 1.5rem;

        .header-left {
          img {
            width: 15px;
          }
          span {
            font-family: 'Dosis', sans-serif;
            margin-left: .45rem;
          }
        }

        .header-right {
          font-family: 'Merriweather Sans', sans-serif;
          font-weight: 700;
        }
      }

      &__logo {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 0.1rem;
        .paypass-logo {
          width: 20px;
          margin: .44rem 0 0 .9rem;
        }
        .chip-logo-wrapper {
          margin-left: 0.4rem;
          width: 38px;
          height: 37px;
          border-radius: 5px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          .chip-logo {
            width: 64px;
          }
        }
      }
      &__number {
        font-family: 'Rationale', sans-serif;
        color: $silver-color;
      }
      &__footer {
        color: $silver-color;
      }
      &__bgi {
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: 6px;
        right: 12px;
        border-radius: 50%;
        z-index: 0;
        background-color: #e29303;
        &::before {
          content: '';
          position: absolute;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          transform: translateX(-30px);
          background-color: #ab0707;
          mix-blend-mode: soft-light;
        }
      }
    }

    .back {
      position: absolute;
      transform: rotateY(180deg);

      &__header {
        display: flex;
        justify-content: space-between;
        font-size: 9px;
        margin: .3rem 1.2rem;
        .header-phones {
          font-weight: bold;
        }
      }
      &__magnetic-stripe {
        height: 34px;
        background-color: #000000;
      }
      &__number {
        font-family: 'Rationale', sans-serif;
        position: relative;
        color: #101215;
        text-shadow: $text-shadow;
        margin-top: 3.6em;
        transform: scale(-1, 1);
        z-index: 5;
      }
      &__footer {
        transform: scale(-1, 1);
        color: #101215;
        text-shadow: $text-shadow;
      }
      &__footer-text {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 1.1rem .3rem;
        font-size: 7px;

        span {
          margin-right: .5rem;
        }
      }

      &__debit-logo {
        position: absolute;
        top: 42%;
        left: 1.5rem;
        width: 65px;
        height: 40px;
        border-radius: 20px;
        mix-blend-mode: hard-light;
        overflow: hidden;
        background: rgb(230,230,230);
        background: radial-gradient(circle, #f1f1f1 1%, #fbfbfb 96%);
        .big-circle {
          position: absolute;
          top: 50%;
          left: 0;
          background: rgb(217,217,217);
          background: radial-gradient(circle, #dedede 1%, #f5f5f5 96%);
          width: 65px;
          height: 65px;
          border-radius: 50%;
          transform: translate(-38%, -50%);
          z-index: 3;
        }
        .small-circle {
          position: absolute;
          top: 50%;
          left: 64%;
          background: #ececec;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
        .text {
          position: absolute;
          color: $white-color;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 4;
        }
      }
    }

    .back__footer,
    .front__footer {
      span {
        font-family: "Rationale", sans-serif;
        margin-left: 1.5rem;
        letter-spacing: .12rem;
      }
    }
    .card-number {
      display: flex;
      justify-content: space-between;
      font-size: 28px;
      letter-spacing: .23rem;
      margin: 0 2.4rem;
    }
    .card-date {
      text-align: center;
      font-size: 17px;
      letter-spacing: .2rem;
    }
  }

  .close-card {
    position: absolute;
    top: 13px;
    right: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    width: 50px;
    height: 50px;
    cursor: pointer;

    span {
      font-size: 32px;
      transition: .25s;
    }

    &:hover {
      span {
        transform: rotateZ(180deg) scale(1.3);
      }
    }
  }

}

