<div *ngIf="posts.length; else loading">
  <div class="form-control">
    <input
      [(ngModel)]="searchStr"
      type="text"
      placeholder="search post by its title...">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Author</th>
      <th>Title</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts | postsFilter: searchStr; let i = index">
      <td>{{i + 1}}</td>
      <td>{{post.author}}</td>
      <td>{{post.title}}</td>
      <td>{{post.date | date: 'dd-MM-yyyy'}}</td>
      <td>
        <button
          [routerLink]="['/admin', 'post', post.id, 'edit']"
          class="btn btn-link open"
        >Open</button>
        <a (click)="removePost(post.id)">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>

